/* Dori CSS */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 10vmax;
  font-size: 1.75rem;
  line-height: 1.5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 0.5rem 2rem;
  position: fixed;
}

.scribble {
  display: block;
  position: absolute;
  top: 5rem;
  right: 10rem;
}

.organic-button {
  position: relative;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: white;
  background: linear-gradient(to right, #5522fa, #0074e4);
  border: none;
  border-radius: 30rem;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.organic-button:hover {
  color: #5fddc5;
}
.organic-button:active {
  outline: none;
  transform: scale(0.98);
  border: solid 0.5rem;
  border-radius: 30rem;
  border-color: #5fddc5;
}
.organic-button:focus {
  outline: none;
}

.wall-of-shame {
  display: flex;
  flex-flow: row wrap;
}

/* Franzi CSS */
h2 {
  margin: 0 auto;
  text-align: center;
}
h3 {
  margin: 0 auto;
  text-align: center;
}
.what-you-get-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.card {
  text-align: center;
  min-width: 350px;
}
.card p {
  color: rgb(68, 66, 66);
}
.check-img {
  margin: 0 auto;
  width: 48px;
}
.line-cover {
  padding: 0 1rem;
}
.what-you-get-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.live-counter {
  font-style: italic;
  color: #999999;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
.footer-bye {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: -1rem;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list li {
  list-style: none;
  background-color: #fff5ca;
  border-radius: 20rem;
  padding: 0.25rem 1rem;
  font-size: 1.125rem;
  margin-top: 0.5rem;
}

.footer-list li a {
  text-decoration: none;
  color: #5522fa;
}
.centered {
  text-align: center;
  margin-bottom: 4rem;
}
.iframe {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 0.75rem;
}
.footer-credits {
  margin-top: 4rem;
  color: #666666;
  font-size: 1.5rem;
}
.small {
  font-size: 1rem;
  font-style: italic;
}
.small a {
  color: #666666;
}
